<!DOCTYPE html>
<html>
<head>
    <title>Comics World</title>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <!--<link rel="stylesheet" href="assets/css/demo.css"/>-->
    <!--<link rel="stylesheet" href="assets/css/normalize.css"/>-->
    <link rel="stylesheet" href="assets/css/component.css"/>
    <link rel="stylesheet" href="assets/css/imageviewer.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="assets/js/imageviewer.js"></script>
    <script type="text/javascript" src="assets/js/angular.min.js"></script>

    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.onvisible.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/angular-resource.js"></script>
    <script src="controller/app.js"></script>
    <script src="factory/factory.js"></script>
    <script src="controller/home-controller.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
</head>
<body class="homepage" ng-app="myApp">
<div id="page-wrapper" ng-controller="HomeCtrl">
    <div class="header">

        <!-- Inner -->

        <div id="image-gallery-2">
            <div id="wrap-image">
                <div class="image-container"></div>
                <!--<img src="assets/css/images/left.svg" class="prev"/>-->
                <!--<img src="assets/css/images/right.svg"  class="next"/>-->
                <nav class="nav-circlepop">
                <span class="prev" ng-click="previousImage()">
                    <span class="icon-wrap"></span>
                </span>
                <span class="next" ng-click="nextImage()">
                    <span class="icon-wrap"></span>
                </span>
                </nav>

                <div class="footer-info">
                    <span class="current">{{currentIndex}}</span>/<span class="total">{{total}}</span>
                </div>

            </div>
        </div>
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>
                    <a href="#">Dropdown</a>
                    <ul>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Magna phasellus</a></li>
                        <li><a href="#">Etiam dolore nisl</a></li>
                        <li>
                            <a href="#">And a submenu &hellip;</a>
                            <ul>
                                <li><a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Phasellus consequat</a></li>
                                <li><a href="#">Magna phasellus</a></li>
                                <li><a href="#">Etiam dolore nisl</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Veroeros feugiat</a></li>
                    </ul>
                </li>
                <li><a href="">Left Sidebar</a></li>
                <li><a href="">Right Sidebar</a></li>
                <li><a href="">No Sidebar</a></li>
            </ul>
        </nav>

    </div>
</div>
</body>
</html>
